<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Meal - Personal Fitness Tracker</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h2>Add Reccomended Meal</h2>
    <form method="POST" action="{{ url_for('log_meal_admin') }}">

        <label>Food Items:</label>
        <input type="text" id="FoodItems" name="FoodItems"required><br>

        <label>Calories (kcal):</label>
        <input type="float" id="Calories" name="Calories"required><br>

        <label>Nutrients:</label>
        <input type="text" id="Nutrients" name="Nutrients"required><br>
        <button type="submit">Add Meal</button>
    </form>

    <a href="{{ url_for('admin_dashboard') }}">Cancel</a>
</body>
</html>
